@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <br />
    <h2>Seja bem vindo a esta página</h2>
    <p>Esta aplicação tem o objetivo de realizar o cadastro de nomes de pessoas.</p>
</div>
