@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Está pagina ou aplicação é uma introduçao ao desenvolvimento de aplicações WEB com a técnologia ASP.NET utilizando a linguagem C#.  </p>
